.Body
{
	font-family: abel-n4, sans-serif;
}

.menu
{
	font-family: pt-sans-n7, sans-serif;
}

.heading-1
{
	font-family: poiret-one-n4, sans-serif;
}

.heading2
{
	font-family: open-sans-n3, sans-serif;
}

.heading-3,.heading-4,.heading5
{
	font-family: open-sans-n7, sans-serif;
}

.description,.body1,.body2,.body3,.Body4
{
	font-family: open-sans-n4, sans-serif;
}

#u180-2
{
	font-family: poiret-one-n4, sans-serif;
}

#u180-4.MuseLinkActive p,#u177-4:hover p,#u177-4:hover span
{
	font-family: pt-sans-n7, sans-serif;
}

#u155-4,#u122-4,#u145-4,#u146-4
{
	font-family: open-sans-n4, sans-serif;
}

#u279-4
{
	font-family: poiret-one-n4, sans-serif;
}

#u948-4
{
	font-family: open-sans-n7, sans-serif;
}

#u950-4
{
	font-family: open-sans-n7, sans-serif;
}

#u930-4
{
	font-family: open-sans-n7, sans-serif;
}

#u285-4,#u815-4
{
	font-family: open-sans-n4, sans-serif;
}

#u816-4
{
	font-family: open-sans-n4, sans-serif;
}

#u804-4
{
	font-family: open-sans-n4, sans-serif;
}

#u805-4
{
	font-family: open-sans-n4, sans-serif;
}

#u806-4
{
	font-family: open-sans-n4, sans-serif;
}

#u800-4
{
	font-family: open-sans-n4, sans-serif;
}

#u807-4
{
	font-family: open-sans-n4, sans-serif;
}

#u810-4
{
	font-family: open-sans-n4, sans-serif;
}

#u809-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu814_input,#widgetu814_prompt,#widgetu801_input,#widgetu801_prompt,#widgetu808_input,#widgetu808_prompt
{
	font-family: open-sans, sans-serif;
}

