.Body
{
	font-family: abel-n4, sans-serif;
}

.menu
{
	font-family: pt-sans-n7, sans-serif;
}

.heading-1
{
	font-family: poiret-one-n4, sans-serif;
}

.heading2
{
	font-family: open-sans-n3, sans-serif;
}

.heading-3,.heading-4,.heading5
{
	font-family: open-sans-n7, sans-serif;
}

.description,.body1,.body2,.body3,.Body4
{
	font-family: open-sans-n4, sans-serif;
}

#u1154-4:hover p,#u1154-4:hover span,#u1158-4.MuseLinkActive p
{
	font-family: pt-sans-n7, sans-serif;
}

#u1158-2
{
	font-family: poiret-one-n4, sans-serif;
}

#u1181-4,#u1180-4,#u1182-4,#u1183-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1244-4
{
	font-family: poiret-one-n4, sans-serif;
}

#u1326-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1345-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1334-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1245-4,#u1515-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1513-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1518-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1517-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1521-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1524-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1523-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1537-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1538-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu1511_input,#widgetu1511_prompt,#widgetu1516_input,#widgetu1516_prompt,#widgetu1536_input,#widgetu1536_prompt
{
	font-family: open-sans, sans-serif;
}

