.Body
{
	font-family: abel-n4, sans-serif;
}

.menu
{
	font-family: pt-sans-n7, sans-serif;
}

.heading-1
{
	font-family: poiret-one-n4, sans-serif;
}

.heading2
{
	font-family: open-sans-n3, sans-serif;
}

.heading-3,.heading-4,.heading5
{
	font-family: open-sans-n7, sans-serif;
}

.description,.body1,.body2,.body3,.Body4
{
	font-family: open-sans-n4, sans-serif;
}

#u1643-4:hover p,#u1643-4:hover span,#u1647-4.MuseLinkActive p
{
	font-family: pt-sans-n7, sans-serif;
}

#u1647-2
{
	font-family: poiret-one-n4, sans-serif;
}

#u1617-4,#u1619-4,#u1620-4,#u1618-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1736-4
{
	font-family: poiret-one-n4, sans-serif;
}

#u1737-4,#u2304-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2302-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2296-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2297-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2277-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2275-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2276-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2293-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2291-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu2300_input,#widgetu2300_prompt,#widgetu2294_input,#widgetu2294_prompt,#widgetu2289_input,#widgetu2289_prompt
{
	font-family: open-sans, sans-serif;
}

