#u1641
{
	border-style: solid;
	border-color: #BDC3C7;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1642-4
{
	background-color: transparent;
	position: relative;
}

#u1642-4:hover
{
	background-color: #EB5055;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1642-4:hover p,#u1642-4:hover span,#u1642-4.MuseLinkActive p,#u1642-4.MuseLinkActive span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1642-2
{
	padding-top: 15px;
}

#u1643-4
{
	background-color: transparent;
	position: relative;
}

#u1642-4.MuseLinkActive,#u1643-4:hover
{
	background-color: #EB5055;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1643-4:hover p,#u1643-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 23px;
	text-decoration: none;
	padding-bottom: 0px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u1643-4.MuseLinkActive p,#u1643-4.MuseLinkActive span
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 15px;
	text-decoration: underline;
}

#u1643-2
{
	padding-top: 15px;
}

#u1644-4
{
	background-color: transparent;
	position: relative;
}

#u1643-4.MuseLinkActive,#u1644-4:hover
{
	background-color: #EB5055;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1644-4:hover p,#u1644-4:hover span,#u1644-4.MuseLinkActive p,#u1644-4.MuseLinkActive span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1644-2
{
	padding-top: 15px;
}

#u1645-4
{
	background-color: transparent;
	position: relative;
}

#u1644-4.MuseLinkActive,#u1645-4:hover
{
	background-color: #EB5055;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1645-4:hover p,#u1645-4:hover span,#u1645-4.MuseLinkActive p,#u1645-4.MuseLinkActive span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1645-2
{
	padding-top: 15px;
}

#u1646-4
{
	background-color: transparent;
	position: relative;
}

#u1645-4.MuseLinkActive,#u1646-4:hover
{
	background-color: #EB5055;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1646-4.MuseLinkActive
{
	background-color: #EB5055;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u1646-4:hover p,#u1646-4:hover span,#u1646-4.MuseLinkActive p,#u1646-4.MuseLinkActive span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1646-2
{
	padding-top: 15px;
}

#u1642,#u1643,#u1644,#u1645,#u1646
{
	text-decoration: underline;
}

#u1647-4
{
	background-color: transparent;
	font-weight: 400;
	position: relative;
}

#u1647-4.MuseLinkActive p
{
	color: #000000;
	visibility: inherit;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 7px;
	padding-bottom: 0px;
	font-size: 12px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u1647-2
{
	font-size: 20px;
	padding-top: 16px;
	font-family: poiret-one, sans-serif;
}

#u1597
{
	border-color: #000000;
	background-color: #EB5055;
	position: relative;
}

#u1596
{
	border-color: #000000;
	background-color: #323232;
	position: relative;
}

#u1627,#u1628
{
	border-color: #000000;
	background-color: #3E3D3D;
	position: relative;
}

#u1617-4,#u1619-4,#u1620-4
{
	text-align: left;
	color: #BDC3C7;
	font-size: 9px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1615-4,#u1614-4,#u1623,#u1621,#u1625,#u1616-4
{
	position: relative;
}

#u1618-4
{
	text-align: left;
	color: #BDC3C7;
	font-size: 8px;
	line-height: 1.8;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1629
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1598
{
	border-color: #000000;
	background-color: #262626;
	position: relative;
}

#u1599-4
{
	color: #BDC3C7;
	font-size: 9px;
	position: relative;
}

#u1600
{
	background-color: transparent;
	position: relative;
}

#u1606
{
	background-color: transparent;
	position: relative;
}

#u1602
{
	background-color: transparent;
	position: relative;
}

#u1604
{
	background-color: transparent;
	position: relative;
}

#u1608
{
	background-color: transparent;
	position: relative;
}

#u1610
{
	background-color: transparent;
	position: relative;
}

#u1612
{
	background-color: transparent;
	position: relative;
}

#u1600:hover,#u1606:hover,#u1602:hover,#u1604:hover,#u1608:hover,#u1610:hover,#u1612:hover
{
	background-color: transparent;
}

#u1600_img:hover,#u1606_img:hover,#u1602_img:hover,#u1604_img:hover,#u1608_img:hover,#u1610_img:hover,#u1612_img:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

